@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FCF6F5;
}

a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #FCF6F5
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;

}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px;
    background-color: #990011;
    color: #FCF6F5;
    font-family: 'Montserrat', sans-serif;
}

.links ul {
    display: flex;
    gap: 32px;
}